{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Add Video to {{ hall.title }}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}

        {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}

        </div>
        {% endfor %} 
        <!--{% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        
        {% endfor %}  -->
        <button type="submit" class="btn btn-primary" value="Create Hall">Create Hall</button>
    </form>

    <h2>OR</h2>
    <form action="">
        {{ search_form }}
    </form>
</div>

{% endblock %}